<div>
    <h2>Gerenciamento de Quadras</h2>
    <button mat-button (click)="novoQuadra()">
        <mat-icon>add</mat-icon>
    </button>
    <mat-table [dataSource]="quadras">
        
        <!--Nome Quadra-->
        <ng-container matColumnDef="nomeQuadra">
            <mat-header-cell *matHeaderCellDef>
                Nome Quadra
            </mat-header-cell>
            <mat-cell *matCellDef="let quadra">
                {{quadra.nomeQuadra}} 
            </mat-cell>
        </ng-container>

        <!--Tipo Quadra-->
        <ng-container matColumnDef="tipoQuadra">
            <mat-header-cell *matHeaderCellDef>
                Tipo de Quadra
            </mat-header-cell>
            <mat-cell *matCellDef="let quadra">
                {{quadra.tipoQuadra}} 
            </mat-cell>
        </ng-container>

        <!--Descricao-->
        <ng-container matColumnDef="descricao">
            <mat-header-cell *matHeaderCellDef>
                Descrição
            </mat-header-cell>
            <mat-cell *matCellDef="let quadra">
                {{quadra.descricao}} 
            </mat-cell>
        </ng-container>

    
        <!--Ações de editar e remover-->
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
                Ações
            </mat-header-cell>
            <mat-cell *matCellDef="let quadra">
                <button mat-button (click)="selecionarQuadra(quadra)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button (click)="excluir(quadra)">
                    <mat-icon>remove_circle</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columns"></mat-row>
    </mat-table>


    <div *ngIf="quadraEdicao != undefined">
        <h3>Inserir/Editar</h3>
        <input placeholder="Nome Quadra" [(ngModel)]="quadraEdicao.nomeQuadra"><br>
        <input placeholder="Tipo de Quadra" [(ngModel)]="quadraEdicao.tipoQuadra"><br>
        <input placeholder="Descrição da Quadra" [(ngModel)]="quadraEdicao.descricao"><br>
        <button (click)="cancelar()">Cancelar</button>
        <button (click)="salvar()">Salvar</button>
    </div>
</div>
